@model VidlyNew.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.customers.Count > 10 ? "alert-primary" : null;

}
<div class="@className"><h2>@Model.movie.Name</h2></div>

@if (Model.customers.Count == 0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}
