@model List<VidlyNew.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Movie Name
            </th>
            <th>
                Genre
            </th>
            
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
                      }
        );

        $(document).ready(

            function () {

              var table =   $('#movies').DataTable(
                    {
                        ajax: {
                            url: "/api/Movies",
                            dataSrc:""
                        },
                        columns: [
                            {
                                data: "name",
                                render: function (data, type, Movie) {

                                    return "<a href='/Movies/Details/" + Movie.id + "'> " + data + "</a>";
                                }

                            },
                            {
                                data: "genre.name"
                            },
                            
                        ]
                    }
                );
                
            }
        );
    </script>
}
