@model List<VidlyNew.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>List of Customers</h2>

@if (!Model.Any())
{
    <p>No customers added yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model){
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Details", new { Id = customer.Id })
                </td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
            }
        </tbody>

    </table> 

}


